@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body {
  display: grid;
  height: 100vh;
  width: 100vw;
  text-align: center;
  place-items: center;
  background: linear-gradient(40deg, #074173, #1679AB 70%, #5DEBD7);
  background-image: linear-gradient(to right, #074173, #126b9d, #52d9d0);
  overflow: hidden;
  position: absolute;
}
.range {
  height: 10vh;
  width: 100vw;
  background: #fff;
  border-radius: 10px;
  padding: 0 65px 0 45px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  rotate: -90deg;
}
.sliderValue {
  position: sticky;
  width: 100%;
}
.sliderValue span {
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(0%) scale(0);
  font-weight: 500;
  top: -40px;
  line-height: 55px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  font-size: 30px;
}

.sliderValue span.show {
  transform: translateX(-50%) scale(1);
}
.sliderValue span:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: #664AFF;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value {
  position: absolute;
  font-size: 32px;
  color: #664AFF;
  font-weight: 600;
  rotate: 90deg;
}
.field .value.left {
  left: -30px;
}
.field .value.right {
  right: -40px;
}
.range input {
  -webkit-appearance: none;
  width: 100%;
  height: 16px; /* Increased height for better touch control */
  background: #ddd;
  border-radius: 8px;
  outline: none;
  border: none;
  z-index: 2222;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50px; /* Larger thumb size */
  height: 50px; /* Larger thumb size */
  background: #664AFF;
  border-radius: 100%;
  border: 1px solid #664AFF;
  cursor: pointer;
}
.range input::-moz-range-thumb {
  width: 100px; /* Larger thumb size */
  height: 100px; /* Larger thumb size */
  background: #664AFF;
  border-radius: 50%;
  border: 1px solid #664AFF;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, #074173, #126b9d, #52d9d0); 
  border-radius: 15px;
  height: 16px; /* Thicker track for better visibility */
}
input[type="range"]::-webkit-slider-thumb {
  box-sizing: border-box;
  appearance: none;
  position: relative;
  background-color: #664AFF;
  border-radius: 100%;
  width: 250px; /* Larger thumb size */
  height: 25px; /* La  +rger thumb size */
  top: 50%;
  translate: 0 -50%;
}
