*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color:green;
    font-family: Raleway;
}

.page{
    position: fixed;
    top:0;
    overflow: hidden;
    left:-200vw;
    width: 100vw;
    height:100vh;
    display:grid;
    place-items:center;
    transition: 0.6s all ease-in-out
}

#page1{
    background-color: lightblue;
}

#page2{
    background-color: aquamarine;
}

.visible{
    left:0;
}