*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    font-family: Raleway;
    color:#8C2501;
}

h2{
    font-family: Raleway;
    color:#8C2501;
}

p{
    color:white;
}

header{
    width:40vw;
    height:12vh;
    position:fixed;
    z-index:2;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    transition: all .3s ease-in-out;
    top:88vh;
}
header.hidden{
    height: 2vh;
}
header.hidden:hover{
    height: 12vh;
}

.menuitem{
    width:100%;
    height:100%;
    font-size:2rem;
    display:grid;
    place-items:center;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    color: #8C2501;
}

header.hidden .menuitem{
    font-size: 0;
    color: #8C2501;
}
header.hidden:hover .menuitem{
    font-size: 2rem;
}

.menuitem:hover{
    border-bottom:6px solid black;
    font-size:2.4rem;
}

.menuitem.active{
    border-bottom:6px solid #8C2501;
}

.page{
    position:fixed;
    left:-100vw;
    width:100vw;
    height: 100vh;
    overflow:hidden;
    display:grid;
    place-items:center;
    transition: 0.2s 0.3s all ease-in-out;
    backdrop-filter: blur(40px);
}

.visible{
    left:0;
    transition: 0.3s all ease-in-out;
    
}

#page1{
    background-image: url("https://rose-engine.org/signalis/images/website_header_20_fullwidth.png");
    grid-template-columns: 1fr 3fr;
    background-position: center;
    background-size: cover;
}

#page1 .left{
    background-color: #00000005;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 2rem;
}

#page2{
    background-image: url("/prog-b/11-web-app-menu/images/8480_p3_1724020311715.jpeg");
    background-position: center;
    background-size: cover;
    grid-template-columns: 1fr 4fr 1fr;
}

#page2 .left{
    background-color: #00000005;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: top left;
    padding: 5rem; 
}

#page2 .center{
    background-color: #00000005;
    backdrop-filter: blur(1px);
    width: 40%;
    height: 30%;
    display: grid;
    place-items: top left;
    padding: 5rem; 
    color:white;
    text-align: center;
}

#page2 .right{
    grid-template-rows: 1fr 1fr;
}

#page2 .right .bot{
    background-color: #00000005;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: top right;
    padding: 5rem; 
    color:white;
    text-align: right;
}

#page3{
    background-color: Black;
    grid-template-columns: 3fr 7fr;
}

#page3 .left{
    background-color: #00000005;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 80%;
    display: grid;
    place-items: top left;
    padding: 5rem; 
}
#page3 .right{
    height: 80%;
    width:100%;
    padding:5rem;
    grid-template-columns: 1fr 1fr;
    display:grid;
    row-gap: 1rem;
    column-gap: 1rem;
}

#image1{
    background-image: url("http://rose-engine.org/signalis/images/screens/2.png");
    background-size: cover;
    border: 0.5px solid #8C2501;
}

#image2{
    background-image: url("http://rose-engine.org/signalis/images/screens/9.png");
    background-size: cover;
    border: 0.5px solid #8C2501;
}

#image3{
    background-image: url("http://rose-engine.org/signalis/images/screens/8.png");
    background-size: cover;
    border: 0.5px solid #8C2501;
}

#image4{
    background-image: url("http://rose-engine.org/signalis/images/screens/6.png");
    background-size: cover;
    border: 0.5px solid #8C2501;
}


#page4{
    background-image: url("/prog-b/11-web-app-menu/images/wp11647684-signalis-wallpapers.png");
    background-size: cover;
}

